*{margin:0;padding:0;}
html,body{height: 100%;overflow-x: hidden;}
#app{font-size: .24rem;overflow-y: auto;height: 100%;}
/*布局，层级*/
.content-layer,.mask-layer,.popup-layer{position: relative;top: 0;left: 0;background: #f6f6f6;width: 100%;min-height: 100%;}
.content-layer{z-index: 1;overflow: auto;-webkit-overflow-scrolling : touch;}
.navigation-layer{position:fixed;width:100%;z-index: 10;bottom: 0;background: #fff;height: .98rem;border-top: 1px solid #e8e8e8;}
.mask-layer{z-index: 20;overflow: auto;-webkit-overflow-scrolling : touch;}
.popup-layer{z-index: 30;}

